.quiz__card {
  background-color: RGB(231, 158, 92);
  border: 5px solid black;
  border-radius: 16px;
  padding: 0.5em;
  width: 55%;
}

.quiz__score {
  border: 5px solid black;
  border-radius: 16px;
  background-color: RGB(197, 220, 103);
  width: 50%;
  display: inline-block;
}

.quiz__question__number {
  text-decoration: 0.1em underline;
}

ul {
  padding: 0;
  list-style: none;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

li > button {
  border: 3px solid black;
  border-radius: 20px;
  margin: 16px;
  width: 90%;
  font-family: "Dokdo", cursive;
  font-size: 1.5em;
}

.quiz__wrongAnswer {
  font-size: 2.5em;
  color: red;
}

.quiz__goodAnswer {
  font-size: 2.5em;
  color: green;
}
