.quiz__card {
  background-color: RGB(231, 158, 92);
  border: 5px solid black;
  border-radius: 16px;
  padding: 0.5em;
  width: 80%;
  height: auto;
}

ul {
  list-style: none;
}

li {
  background-color: RGB(203, 120, 133);
  padding: 16px;
  border: 3px solid black;
  border-radius: 20px;
  margin: 16px;
  width: 91%;
}
