@import url("https://fonts.googleapis.com/css2?family=Dokdo&display=swap");
body {
  background-color: RGB(197, 220, 103);
  font-family: "Dokdo", cursive;
  font-size: 135%;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quiz__title {
  border: 3px solid black;
  padding: 0.5em;
  background-color: RGB(231, 158, 92);
  color: black;
  font-size: 3rem;
}

a:link {
  text-decoration: none;
}
